<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
           <pattern>%-5p [%d{HH:mm:ss}][%-35logger{30} line:%line] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.example.demo" level="debug"/>
    <root level="info">
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>
